// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

$primary: #0d68b1;
$accent: #b4191d;
$secondary: lightyellow;
// #26A69A;
// $accent    : #B4191D;
$dark: #333333;

$accent-highlight: #9c120033;
$highlight: #f2c0376e;
$highlighted: yellow;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$primary-inv: #fff;
$secondary-inv: #000;
$accent-inv: #fff;
$dark-inv: #fff;
$positive-inv: #000;
$negative-inv: #fff;
$info-inv: #000;
$warning-inv: #000;
$highlighted-inv: #000;

:root {
  --q-highlighted: yellow;
  --q-primary-inv: #fff;
  --q-secondary-inv: #000;
  --q-accent-inv: #fff;
  --q-dark-inv: #fff;
  // --q-dark: #333;
  --q-positive-inv: #000;
  --q-negative-inv: #fff;
  --q-info-inv: #000;
  --q-warning-inv: #000;
  --q-highlighted-inv: #000;
}

// .text-white {
//   color: $brand-cream !important;
//   color: var(--q-color-brand-cream) !important;
// }
// .text-black {
//   color: $normal !important;
//   color: var(--q-color-normal) !important;
// }

.bg-accent-highlighted {
  background-color: $highlighted;
  background-color: var(--q-highlighted) !important;
}
.text-accent-highlighted {
  color: $highlighted;
  color: var(--q-highlighted) !important;
}

.bg-highlighted {
  background-color: $highlighted;
  background-color: var(--q-highlighted) !important;
}
.text-highlighted {
  color: $highlighted;
  color: var(--q-highlighted) !important;
}

.bg-primary-inv {
  background-color: var(--q-primary-inv) !important;
}
.text-primary-inv {
  color: var(--q-primary-inv);
}
.bg-secondary-inv {
  background-color: var(--q-secondary-inv) !important;
}
.text-secondary-inv {
  color: var(--q-secondary-inv) !important;
}
.bg-accent-inv {
  background-color: var(--q-accent-inv) !important;
}
.text-accent-inv {
  color: var(--q-accent-inv) !important;
}
.bg-dark-inv {
  background-color: var(--q-dark-inv) !important;
}
.text-dark-inv {
  color: var(--q-dark-inv) !important;
}
.text-dark {
  color: var(--q-dark) !important;
}
.bg-positive-inv {
  background-color: var(--q-positive-inv) !important;
}
.text-positive-inv {
  color: var(--q-positive-inv) !important;
}
.bg-negative-inv {
  background-color: var(--q-negative-inv) !important;
}
.text-negative-inv {
  color: var(--q-negative-inv) !important;
}
.bg-info-inv {
  background-color: var(--q-info-inv) !important;
}
.text-info-inv {
  color: var(--q-info-inv) !important;
}
.bg-warning-inv {
  background-color: var(--q-warning-inv) !important;
}
.text-warning-inv {
  color: var(--q-warning-inv) !important;
}

.bg-oxford-blue {
  background-color: #002147 !important;
}
.text-oxford-blue {
  color: #002147 !important;
}
.bg-oxford-blue-inv {
  background-color: #fff !important;
}
.text-oxford-blue-inv {
  color: #fff !important;
}

.bg-cambridge-blue {
  background-color: #a3c1ad !important;
}
.text-cambridge-blue {
  color: #a3c1ad !important;
}

.text-cambridge-blue-inv {
  color: #000 !important;
}
.bg-cambridge-blue-inv {
  background-color: #000 !important;
}

:export {
  primary: $primary;
  primary-inv: $primary-inv;
  secondary: $secondary;
  accent: $accent;
  dark: $dark;
  positive: $positive;
  negative: $negative;
  info: $info;
  warning: $warning;
}
